* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f4f4f4;
} */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-image: url('foto3.jpg');
    background-size: cover; /* Untuk memastikan gambar menutupi seluruh background */
    background-position: center; /* Agar gambar terpusat */
    background-repeat: no-repeat; /* Menghindari pengulangan gambar */
}


header {
    text-align: center;
    margin-bottom: 20px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile h1 {
    margin-top: 10px;
    font-size: 24px;
    color: whitesmoke;
}

.profile p {
    color: white;
}

/* section {
    margin-bottom: 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
} */

section {
    background-color: rgba(255, 255, 255, 0.6);; /* Warna putih dengan transparansi 80% */
    padding: 20px;
    border-radius: 10px; /* Supaya ada sudut yang melengkung */
    margin-bottom: 20px;
}


section h2 {
    margin-bottom: 10px;
    font-size: 20px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    color: white;
}

@media (min-width: 768px) {
    body {
        padding: 40px;
    }

    section {
        margin-bottom: 40px;
    }

    .profile h1 {
        font-size: 32px;
    }

    section h2 {
        font-size: 24px;
    }
}

.custom-link {
    color: black; /* Warna teks awal */
    text-decoration: none; /* Menghilangkan garis bawah */
}

.custom-link:hover {
    color: blue; /* Warna saat kursor di atas link */
    text-decoration: none; /* Garis bawah saat hover */
}